body {
  background-image: linear-gradient(
      140deg,
      rgb(0, 15, 42),
      rgba(81, 103, 144, 0.164)
    ),
    url("background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-y: hidden;
}

#selector {
  width: 320px;
  height: 45px;
  position: fixed;
}

#search {
  width: 260px;
  height: 40px;
  background-color: white;
  position: fixed;
  margin-left: 320px;
}

#searchResult {
  color: white;
  position: fixed;
  margin-top: 60px;
}

#root {
  height: 630px;
  display: flex;
}

.column {
  background-color: rgb(0, 15, 42, 0.137);
  float: left;
  margin-top: 120px;
  margin-right: 9px;
  margin-bottom: 10px;
  margin-left: 9px;
  width: 30%;
  padding: 10px;
  height: 490px;
  border-radius: 30px;
  border: 1.8px solid rgb(0, 15, 42);
  backdrop-filter: blur(7px);
}

/* .episode */
.episode {
  background-color: rgb(0, 15, 42, 0.719);
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 20px;
}

/* .name_Of_Ep */
.name_Of_Ep {
  color: white;
  text-align: center;
}

/* .Se_and_Ep */
.Se_and_Ep {
  color: white;
  text-align: center;
}

/* img */
img {
  height: 16.3vw;
  padding-top: 10px;
  border-radius: 30px;
}

/* .summary */
.summary {
  color: white;
  height: 190px;
  overflow-y: auto;
}

#info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  font-size: 20px;
  margin-top: 160px;
  padding-bottom: 30px;
  color: rgb(255, 255, 255);
}

a {
  color: rgb(2, 128, 167);
}
